@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #018281;
  font-family: 'MS-Sans-Serif';
  overflow-x: hidden;
}

.win-95-shortcut-active {
  filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(400%) contrast(.9);
}

.win-95-shadow {
  box-shadow: 1.5px 1.5px #000;
}

.win-95-border {
  @apply border-solid border-[1px] border-l-[#fafafa] border-t-[#fafafa] border-r-[#5a5a5a] border-b-[#5a5a5a];
}

.win-95-border-active {
  @apply border-l-[#000] border-t-[#000] border-r-[#fafafa] border-b-[#fafafa];
}

::-webkit-scrollbar {
  width: 15px;
  background: repeating-conic-gradient(rgb(189, 190, 189) 0% 25%,
      rgb(255, 255, 255) 0% 50%) 50% / 2px 2px;
}

::-webkit-scrollbar-thumb {
  background: rgb(189, 190, 189);
  border-top: solid rgb(250, 250, 250) 1.5px;
  border-left: solid rgb(250, 250, 250) 1.5px;
  border-bottom: solid rgb(90, 90, 90) 1.5px;
  border-right: solid rgb(90, 90, 90) 1.5px;
  outline: rgb(219, 219, 219);
}